<%- include('partials/header.ejs') %>

<div class="nav flex flex-horizontal">
    <div>
    <h1>Student Management</h1>
</div>

<div class="addStudent">
   <div>
        <a href="/addForm">Add New Student</a>
    </div> 
</div>
</div>

<hr>

<div class="search">
    <div>
        <form method="Post" action="/getUser">
        <input class="searchText" type="text" name="id"/>
         <button class="searchButton" type="submit" >
            <i class="fa fa-circle-thin"></i>
        </button>
    </form>
    </div>
</div>


<!-- <div>
    <h1>Students</h1>
</div> -->
<% if(locals.error) { %>
<div>
    <p><%= error.message %></p>
</div>


    <% } else if(locals.data) %>
<div class="flex flex-vertical">
<% if(data.length < 1) { %>
    <p>No Students found</p>
<% } else { %>
    <div class="student-container">
        <div class="student-header">
             <ul class="flex flex-horizontal">
        <li>ID</li>
        <li>Name</li>
        <li>Email</li>
        <li>Actions</li>
    </ul>
        </div>

        

         <% data.forEach(student => { %>
        <div class="flex flex-horizontal student-item">
            <div>
                <p><%= student.id %></p>
            </div>
            <div>
                <p><%= student.name %></p>
            </div>
            <div>
                <p><%= student.email %></p>
            </div>
            <div>
                <a href="<%= `/editForm/${student.id}/${student.name}/${student.email}` %>">update</a>
               <a href="<%= `/delete/${student.id}` %>">delete</a>
            </div>
        </div>

        

    <%}); %>
    <% } %>
    </div>
   
  
</div>

<!-- add new student  -->
<div>
   <div>
    <h1>Add new student</h1>
</div>

<div>
    <form method="POST" action="/add" >
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" />
        <label for="dob">Date of Birth</label>
        <input type="text" id="dob" name="dob" />

        <input type="submit" value="Save" />
    </form>
</div> 

<!-- student details  -->
<div>

</div>

<!-- confirm delete  -->
 <div>

 </div>

</div>
